$color-natours-primary: #55c57a;
$color-natours-primary-light: #7ed56f;
$color-natours-primary-dark: #28b485;

$color-natours-secondary-light: #ffb900;
$color-natours-secondary-dark: #ff7730;

$color-natours-tertiary-light: #2998ff;
$color-natours-tertiary-dark: #5643fa;

$color-natours-grey-light-1: #f7f7f7;
$color-natours-grey-light-2: #eee;

$color-natours-grey-dark: #777;
$color-natours-grey-dark-2: #999;
$color-natours-grey-dark-3: #333;

$color-natours-white: #fff;
$color-natours-black: #000;

// GRID
$grid-natours-width: 114rem;
$gutter-natours-vertical: 8rem;
$gutter-natours-vertical-small: 6rem;
$gutter-natours-horizontal: 6rem;


// FONT
$default-natours-font-size: 1.6rem;
