
/*  *** [Observação] Pasta sass Global e sass local ***
          ➡️  SASS GLOBAL - Estou o root aonde pode ser inportado para todos os projetos var()
          ➡️  SASS LOCAL  - Cada Projeto tem a sua pasta SASS com estilos personalizados
          ➡️  OBS: Algumas cores poderão ser alteradas futuramente para o GLOBAL caso seja observado a necessidade de reuso do código
*/
:root {
  --color-grey-dark: #777;
  --color-white: #fff;
  --color-black: #000;

  //RGB & RGBA
  --color-black--rgba: 0,0,0;
}
