// Fonte Lato Google https://fonts.google.com/specimen/Lato?query=%C5%81ukasz+Dziedzic
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

// 'https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Rowdies:wght@700&display=swap'
:root {
  --fonts-lato-sans-serif: 'Lato', sans-serif;

  --fonts-font-weight-100: 100;
  --fonts-font-weight-200: 200;
  --fonts-font-weight-300: 300;
  --fonts-font-weight-400: 400;
  --fonts-font-weight-500: 500;
  --fonts-font-weight-600: 600;
  --fonts-font-weight-700: 700;
  --fonts-font-weight-800: 800;
  --fonts-font-weight-900: 900;
}



