// Fonte Lato Google https://fonts.google.com/specimen/Lato?query=%C5%81ukasz+Dziedzic
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

// 'https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Rowdies:wght@700&display=swap'
:root {
  --fonts-lato-sans-serif: 'Lato', sans-serif;
  --fonts-lato-sans-serif-100: 100;
  --fonts-lato-sans-serif-300: 300;
  --fonts-lato-sans-serif-400: 400;
  --fonts-lato-sans-serif-700: 700;
  --fonts-lato-sans-serif-900: 900;
}



