@import './fonts.scss';

/*  *** [GLOBAL] BTN ***
          ➡️ URL: https://cvgabriel.herokuapp.com/
          ➡️ [APPS] Em Uso: ['Natous','']
          ➡️ Componentes: Está sendo usado no ['app-header-natours', '']
*/
.Btn {

  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
  }

  &__animated {
    animation: moveInBottom .5s ease-out .75s;
    // EX: https://developer.mozilla.org/pt-BR/docs/Web/CSS/animation-fill-mode
    animation-fill-mode: backwards; // volta ao estado original sem p
    -webkit-animation: moveInBottom .5s ease-out .75s;
  }

  &__white {
    background-color: var(--color-white);
    color: var(--color-grey-dark);
  }

  &__white::after {
    background-color: var(--color-white);
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
      -webkit-transform: scaleX(1.4) scaleY(1.6);
      -moz-transform: scaleX(1.4) scaleY(1.6);
      -ms-transform: scaleX(1.4) scaleY(1.6);
      -o-transform: scaleX(1.4) scaleY(1.6);
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
  }
}


/*  *** [GLOBAL] FONT LATO SANS SERIF ***
          ➡️ URL: https://cvgabriel.herokuapp.com/
          ➡️ [APPS] Em Uso: ['Natous','']
          ➡️ Componentes: Está sendo usado no ['app-header-natours', '']
*/
.Fonts {
  &__lato {
    &--sans-serif {
      font-family: var(--fonts-lato-sans-serif); // Foi setado globalmente no projeto natours
    }
  }

  &__font-weight {
    &--100 {
      font-weight: var(--fonts-font-weight-100);
    }

    &--200 {
      font-weight: var(--fonts-font-weight-200);
    }

    &--300 {
      font-weight: var(--fonts-font-weight-300);
    }

    &--400 {
      font-weight: var(--fonts-font-weight-400);
    }

    &--500 {
      font-weight: var(--fonts-font-weight-500);
    }

    &--600 {
      font-weight: var(--fonts-font-weight-600);
    }

    &--700 {
      font-weight: var(--fonts-font-weight-700);
    }

    &--800 {
      font-weight: var(--fonts-font-weight-800);
    }

    &--900 {
      font-weight: var(--fonts-font-weight-900);
    }
  }
}
