@import './fonts.scss';

//////////// LATO ///////////
/////////  SANS SERIF //////
// Fonte Lato Google https://fonts.google.com/specimen/Lato?query=%C5%81ukasz+Dziedzic


.Fonts {
  &__lato {
    font-family: var(--fonts-lato-sans-serif); // Foi setado globalmente no projeto natours
  }

  &__font-weight {
    &--100 {
      font-weight: var(--fonts-font-weight-100);
    }

    &--200 {
      font-weight: var(--fonts-font-weight-200);
    }

    &--300 {
      font-weight: var(--fonts-font-weight-300);
    }

    &--400 {
      font-weight: var(--fonts-font-weight-400);
    }

    &--500 {
      font-weight: var(--fonts-font-weight-500);
    }

    &--600 {
      font-weight: var(--fonts-font-weight-600);
    }

    &--700 {
      font-weight: var(--fonts-font-weight-700);
    }

    &--800 {
      font-weight: var(--fonts-font-weight-800);
    }

    &--900 {
      font-weight: var(--fonts-font-weight-900);
    }
  }
}


