<section class="section-book" id="section-book">
  <div class="RowNatous">
    <div class="book">
      <div class="book__form">
        <form action="#" class="Form">
          <div class="U__margin-bottom-medium">
            <h2 class="HeadingNatours__secondary">
              Start booking now
            </h2>
          </div>

          <div class="Form__group">
            <input type="text" class="Form__input" placeholder="Full name" id="name" required>
            <label for="name" class="Form__label">Full name</label>
          </div>

          <div class="Form__group">
            <input type="email" class="Form__input" placeholder="Email address" id="email" required>
            <label for="email" class="Form__label">Email address</label>
          </div>

          <div class="Form__group U__margin-bottom-medium">
            <div class="Form__radio-group">
              <input type="radio" class="Form__radio-input" id="small" name="size">
              <label for="small" class="Form__radio-label">
                <span class="Form__radio-button"></span>
                Small tour group
              </label>
            </div>

            <div class="Form__radio-group">
              <input type="radio" class="Form__radio-input" id="large" name="size">
              <label for="large" class="Form__radio-label">
                <span class="Form__radio-button"></span>
                Large tour group
              </label>
            </div>
          </div>

          <div class="Form__group">
            <!-- <button class="btn   transform: translateY(-3px);">Next step &rarr;</button> -->
            <button href="#"class="BtnNatours BtnNatours__green BtnNatours__animated">Next step &rarr;</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
