
@import '../abstracts-natours/variables-natours.scss';


/*  *** [NOMENCLATURA] ADVANCED CSS SASS ***
          ➡️ Classes oriundas da pasta SASS iniciam com letra maiuscula
          ➡️ Classes oriundas dos componentes iniciam com letra minuscula
            -Isto foi criado para deixar visual a identiciação (Forma fácil)
          [OBS] : Cada projeto terá uma pasta SASS mesmo que o código se repita com classes diferentes (para estudo)
                  O Código não pode se repetir dentro dos projetos.
*/

.BtnNatours {

  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
  }

  &__animated {
    animation: moveInBottom .5s ease-out .75s;
    // EX: https://developer.mozilla.org/pt-BR/docs/Web/CSS/animation-fill-mode
    animation-fill-mode: backwards; // volta ao estado original sem p
    -webkit-animation: moveInBottom .5s ease-out .75s;
  }

  &__white {
    background-color: $color-natours-white;
    color: $color-natours-grey-dark;

    &::after {
      background-color: $color-natours-white;
    }
  }

  &:hover {
    transform: translateY(-3px);
    // box-shadow: 0 1rem 2rem rgba(var(--color-black--rgba), 0.2);
    box-shadow: 0 1rem 2rem rgba($color-natours-black, 0.2);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
      -webkit-transform: scaleX(1.4) scaleY(1.6);
      -moz-transform: scaleX(1.4) scaleY(1.6);
      -ms-transform: scaleX(1.4) scaleY(1.6);
      -o-transform: scaleX(1.4) scaleY(1.6);
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 1rem 2rem rgba($color-natours-black, 0.2);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
  }
}
