/* You can add global styles to this file, and also import other style files */

// *********** Natours Global SASS ***********//
@import '../src/sass/global.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}


// Seta o estilo do Body Principal
.Advanced-css-sass {
  background: red;
}


// Seta o estilo do Body Principal
.NatoursBody {
  font-family: var(--fonts-lato-sans-serif); // Fonte Globall
  font-weight: var(--fonts-font-weight-400);
  font-size: 16px;
  line-height: 1.7;
  color: var(--color-grey-dark);
  padding: 30px;
}


// Seta o estilo do Body Principal
.TrilloBody {
  background: blue;
}
