/* You can add global styles to this file, and also import other style files */

// *********** Natours Global SASS ***********//
@import '.../../sass/global.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}


// Seta o estilo do Body Principal
.Advanced-css-sass {
  background: white;
}

// Seta o estilo do Body Principal
.NatoursBody {
  font-family: var(--fonts-lato-sans-serif);
  background: red;
}

// Seta o estilo do Body Principal
.TrilloBody {
  background: blue;
}
