/* You can add global styles to this file, and also import other style files */

// *********** Natours Global SASS ***********//
@import '../src/sass/global.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}



// ============================== 📢CURSO UDEMY ==============================
// ===========================================================================
/*  *** [GLOBAL] APLICAÇÃO: ADVANCED CSS && SCSS ***
          ➡️ URL: https://cvgabriel.herokuapp.com/
          ➡️ [APPS] Em Uso: ['Natous','']
          ➡️ Componentes: TODOS
*/
.Advanced-css-sass {
  background: red;
}



// ============================== 🌊 PROJETO NATOUS ================================
// ==================================================================================
/*  *** [GLOBAL] SETA TODA PROJETO NATOUS ***
          ➡️ URL: https://cvgabriel.herokuapp.com/
          ➡️ [APPS] Em Uso: ['Natous','']
          ➡️ Componentes: TODOS
*/
.NatoursBody {
  font-family: var(--fonts-lato-sans-serif); // Fonte Globall
  font-weight: var(--fonts-font-weight-400);
  font-size: 16px;
  line-height: 1.7;
  color: var(--color-grey-dark);
  padding: 30px;
}




// ============================== 🏮 PROJETO TRILLO ================================
// =================================================================================
/*  *** [GLOBAL] SETA TODA PROJETO TRILLO ***
          ➡️ URL: https://cvgabriel.herokuapp.com/
          ➡️ [APPS] Em Uso: ['Natous','']
          ➡️ Componentes: TODOS
*/
.TrilloBody {
  background: blue;
}
